






/* Hay distintos formatos::after

- ttf: truetype:
-otf: opentype
-woff:woff
-woof2: woof2

*/


@font-face {

    /* nombre de fuente personalizado por mi  */
    font-family: "Cartoon"; 
    src: url(../fonts/CartoonCheck-Black.ttf) format(truetype);
}


*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: poppins;
    }

.u-txtCartoon{
    font-family: Cartoon;
}